* {
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  width: 960px;
  margin: 0 auto;
  background-color: rgba(183, 71, 71, 0.3);
}
h1 {
  text-align: center;
}

.login {
  background-color: rgba(208, 47, 158, 0.3);
  display: block;
  width: 500px;
  margin:auto;
}
.login p{
  display: inline-block;
  width:150px;
  font-size:30px;
  margin-top:20px;
}
.login input{
  height:30px;
  margin-top: 20px;
  font-size: 30px;
}
.login button {
  margin-left:300px;
  margin-bottom: 20px;
  font-size:30px;
  background-color: rgba(208, 47, 158, 0.4);
}
.login button:hover{
  background-color: rgba(208, 47, 158, 0.8);
}
