body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("water.jpg");
  width: 900px;
  margin: 0 auto;
}
.square {
  width: 2px;
  height: 2px;
}

.container{
  width: 900px;
  margin: 0 auto;

}


#app {
}

h1 {
  text-align: center;
  color: #d3d3d3;
  text-transform: uppercase;
  padding-top: 30px;

}
h2 {
  text-align: center;
  color: #d3d3d3;
  padding-top: 30px;
  text-transform: uppercase;
}


.grid td {
  width: 25px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid pink;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: red;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

li {
  list-style: none;
  color: #d3d3d3;
}

a {
  color:black;
  text-transform: uppercase;
  font-weight: bold;
}
