body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("beach.jpg");
  width: 900px;
  margin: 0 auto;
}
.square {
  width: 2px;
  height: 2px;
}

.container{
  width: 900px;
  margin: 0 auto;
}



#app {
}

h1 {
  text-align: center;
  color: #d3d3d3;
  text-transform: uppercase;
  padding-top: 30px;

}
h2 {
  text-align: center;
  color: #d3d3d3;
  padding-top: 30px;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  color: #d3d3d3;
  padding-top: 30px;
  text-transform: uppercase;
}

.grid td {
  width: 55px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid pink;
  text-align: center;
  float: left;
  margin: 5px;
  font-size: 15px;
  color: white;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: red;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

.td{
  font-size: 10px;
}

li {
  list-style: none;
  color: #d3d3d3;
}

a {
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}

p{
  padding-top:30px;
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
}
